* {
    scroll-behavior: smooth;
    --main-color: #012631;
}

body {
    background-color: #00bBF0;
    color: white;
    margin: 0;
    padding: 0;
}


/* Font */
.poppins-r {
    font-family: 'Poppins';
    font-weight: 400;
}

.poppins-med {
    font-family: 'Poppins';
    font-weight: 500;
}

.poppins-sm {
    font-family: 'Poppins';
    font-weight: 600;
}

.poppins-b {
    font-family: 'Poppins';
    font-weight: 800;
}

.rem-7 { font-size: 0.7rem; }
.rem-8 { font-size: 0.8rem; }
.rem-9 { font-size: 0.9rem; }


/* ========= Header ========== */
header {
    height: 35vh;
    transition: 0.3s;
    position: relative;
    margin: 0;
    padding: 0;
}

#weather-gradient {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -13;
}

#white-gradient {
    height: 100%;
    width: 100%;
    bottom: 0;
    position: absolute;
    z-index: -12;
}

#cold-weather {
    width: 40%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -11;
}

#hot-weather {
    width: 45%;
    top: 0;
    right: 0;
    position: absolute;
    z-index: -10;
}

#clouds {
    width: 100%;
    top: 35%;
    left: 0;
    position: absolute;
    z-index: -9;
}

#distant-mountain {
    width: 100%;
    top: 45%;
    left: 0;
    position: absolute;
    z-index: -8;
}

#city {
    width: 100%;
    top: 35%;
    left: 0;
    position: absolute;
    z-index: -7;
}

#close-mountain {
    width: 100%;
    top: 47%;
    left: 0;
    position: absolute;
    z-index: -6;
}

#forest {
    width: 100%;
    top: 50%;
    left: 0;
    position: absolute;
    z-index: -5;
}

#grass-light {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -4;
}

#grass-dark {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    z-index: -3;
}

#title-logo-container {
    position: absolute;
    top: 8%;
    gap: 2vh;
}

#header-logo {
    width: 5%;
    z-index: -2;
}

#header-title {
    width: 30%;
    z-index: -1;
}





/* ============= Navbar ============== */
nav {
    background-color: #012631;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
    z-index: 99;
    font-size: 0.6rem;
    transition: 0.3s;
    padding: 15px 0px;
}

nav > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-button {
    gap: 10px;
    margin-left: -15px;
}

.nav-button a:hover {
    color: rgb(179, 179, 179) !important;
}

.nav-logo {
    width: 40px;
    vertical-align: middle;
}

.nav-profile {
    background-color: white;
    border-radius: 1000px;
    width: 20px;
    border: 1px solid #00bBF0;
}



/* ================ Content Section ================= */
section {
    background-color: var(--main-color);
    position: relative;
    transition: 0.3s;
}

.materi-container {
    justify-content: center;
    align-items: center;
    margin: auto;
    color: white;
    padding: 70px 0px;
}

.materi-icon {
    width: 50px;
}

.materi-title {
    text-align: center;
    margin-top: 20px;
}

.materi-content {
    margin-top: 40px;
}

/* =========== Pengertian ============ */
.pengertian {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 0px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}

.pengertian img {
    width: 200px;
}

.pengertian p span {
    margin-top: 15px;
    display: block;
}


/* =========== Penyebab ============ */
.penyebab-container {
    background-color: rgba(9, 49, 63, 0.5);
}

.penyebab {
    margin-top: 30px;
    display: grid;
    gap: 10px;
    grid-area:
     'penyebab-grid''penyebab-grid'
     'penyebab-grid''penyebab-grid'
     'penyebab-grid';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.penyebab-grid {
    background-image: linear-gradient(#015B77, #013647);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px 20px 10px;
    border-radius: 15px;
    text-align: center;
    gap: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.penyebab-grid:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.penyebab-grid h5 {
    margin-top: 20px;
}

.penyebab-grid img {
    width: 50px;
}


/* =========== Dampak ========== */
.dampak-container {
    background-color: #09313F;
}
.dampak {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
}

.dampak-grid {
    background-image: linear-gradient(#015B77, #013647);
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px 15px;
    justify-content: flex-start;
    align-items: center;
    border-radius: 15px;
    border: 5px solid #006F93;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.dampak-grid:hover {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
    transform: scale(1.03);
    border-color: #29a5ce;
}

.dampak-grid img {
    width: 30px;
    vertical-align: middle;
}

.dampak-grid h6 {
    margin-top: 5px;
}




/* ============== Data Suhu ============== */
.data-suhu-container {
    padding: 70px 0px;
    background-color: #013647;
}

.data-suhu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
    z-index: 5;
}

.data-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
}

.data-button {
    background-image: linear-gradient(to bottom right, #0FACC2, #4472C4);
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.data-button:hover {
    background-image: linear-gradient(to bottom right, #29cee4, #285096);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}

.data-button p {
    padding: 0;
    margin: 0;
}

.data-number h1 {
    color: #FF8181;
    font-size: 4rem !important;
    text-align: center;
}

.data-number p {
    text-align: center;
}

#data-grass-light {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
}

#data-grass-dark {
    bottom: 0;
    position: absolute;
    width: 100%;
    z-index: 4;
}



/* ================ Footer ================ */
footer {
    position: relative;
    padding: 70px 0px;
    background-color: #00212A;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    padding: 0px 30px !important;
}

.footer img {
    width: 50%;
    margin: auto;
}

.footer div ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.footer div ul li {
    margin: 0;
    padding: 0;
}

.footer div ul li:first-child {
    color: white;
    margin-bottom: 10px;
}

.footer div ul li a {
    text-decoration: none;
    color: #7E7E7E;
}

.footer div ul li a:hover {
    color: #bdbdbd;
}

.footer-quote {
    text-align: center;
}


/* =========== Responsive Screens =========== */
/* Mobile : 300x480px */
/* Tablet : 760x1024px */
/* Desktop : 1440x900px */



@media screen and (max-width:759px) {
    h1  {
        font-size: 1.3rem !important;
    }
    h6 {
        font-size: 0.8rem !important;
    }
    h5 {
        font-size: 0.9rem !important;
    }
    .materi-container p {
        font-size: 0.8rem;
    }
}


/* Tablet */
@media screen and (min-width:760px) and (min-height:1024px) {
    header {
        height: 45vh;
    }

    nav {
        font-size: 0.9rem;
    }

    .nav-logo { width: 65px; }
    .nav-profile { width: 40px; }

    .nav-button {
        gap: 30px;
        margin-left: -25px;
    }

    /* Pengertian */
    .pengertian img {
        width: 250px;
    }

    /* Penyebab */
    .penyebab {
        grid-area:
         'penyebab-grid''penyebab-grid'
         'penyebab-grid''penyebab-grid'
         'penyebab-grid';
         grid-template-columns: 1fr 1fr;
         grid-template-rows: 1fr 1fr 1fr;
    }

    .penyebab-grid {
        padding: 30px 40px 20px 40px;
    }

    .penyebab-grid img {
        width: 70px;
    }

    /* Dampak */
    .dampak {
        gap: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .dampak-grid {
        gap: 20px;
        padding: 10px 15px;
        border-radius: 15px;
        border: 5px solid #006F93;
    }

    /* Data SUhu */
    .data-suhu-container {
        padding: 70px 0px 22% 0px;
    }

    /* Footer */
    .footer img {
        width: 30%;
        margin: auto;
    }
}



/* Desktop */
@media screen and (min-width:992px) {
    header {
        height: 100vh;
    }
    
    #cold-weather {
        width: 35%;
    }
    
    #hot-weather {
        width: 40%;
    }

    #forest {
        top: 50%;
    }

    nav {
        font-size: 0.9rem;
    }

    .nav-logo { width: 80px; }
    .nav-profile { width: 45px; }

    .nav-button {
        gap: 40px;
        margin-left: -25px;
    }

    /* Section */

    /* Pengertian */
    .pengertian {
        flex-direction: row;
        text-align: left;
        padding: 0px 70px;
    }

    /* Penyebab */
    .penyebab {
        grid-area:
         'penyebab-grid''penyebab-grid''penyebab-grid''penyebab-grid''penyebab-grid';
         grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
         grid-template-rows: 1fr;
    }

    .penyebab-grid {
        padding: 30px 20px 20px 20px;
    }

    .penyebab-grid p {
        font-size: 0.9rem;
    }

    .penyebab-grid img {
        width: 80px;
    }

    /* Dampak */
    .dampak {
        gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .dampak-grid {
        gap: 20px;
        padding: 10px 15px;
        border-radius: 15px;
        border: 5px solid #006F93;
    }

    /* Data Suhu */
    .data-suhu-container {
        padding: 70px 0px 22% 0px;
    }

    .data-suhu {
        flex-direction: row;
        align-items: center;
        gap: 50px;
    }

    .data-text {
        width: 60%;
    }

    .data-number h1 {
        font-size: 5rem !important;
    }

    .data-number {
        width: 40%;
    }

    /* Footer */
    .footer img {
        width: 15%;
        margin: 0;
    }

    .footer {
        flex-direction: row;
        gap: 50px;
    }

    .footer div ul {
        text-align: left;
    }

    .footer-quote {
        text-align: left;
        width: 30%;
    }
}


/* Specified Dimension */
@media screen and (orientation:landscape) {
    header {
        height: 100vh;
    }
}

@media screen and (width:1024px) and (height:760px) {
    header {
        height: 80vh;
    }
}

