html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    transition: 0.2s;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #70CEAB;
}

header {
    height: 30dvh;
    margin: 0;
    padding: 0;
    position: relative;
}

header img {
    will-change: opacity;
    width: 100%;
    position: absolute;
}

#img-11 { top: 0; }
#img-10 { top: 0; }
#img-9 { top: 25%; }
/* Statue of The Seven */
#img-8 { top: 0; }      
#img-7 { top: 35%; }
#img-6 { top: 0; }
#img-5 { top: 30%; }
#img-4 { top: 40%; }
#img-3 { top: 50%; }
#img-2 { top: 50%; }
#img-1 { bottom: -1px; }

main {
    position: relative;
    background-color: #12121A;
    background-image: linear-gradient(to bottom, #12121A, #0E333E);
    height: 200vh;
    color: white;
    padding: 50px 20px;
    margin: 0;
}

main h5 {
    color: #8AD8AF;
    text-align: center;
}

main h1 {
    text-align: center;
    margin-bottom: 50px;
}

main p {
    text-align: justify;
    line-height: 1.5rem;
}

@media screen and (min-width: 760px) {
    header {
        height: 45dvh;
    }

    main {
        padding: 50px 50px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 100dvh;
    }

    main {
        padding: 50px 100px;
    }
}