html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    /* transition: 0.3s; */
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #080A2B;
}

header {
    overflow: hidden;
    height: 30dvh;
    margin: 0;
    padding: 0;
    position: relative;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, black, rgb(19, 21, 39), rgb(38, 46, 133), #480a99);
    background-color: rgb(0, 0, 0);
}

header img {
    will-change: opacity;
    width: 100%;
    position: absolute;
    opacity: 0;
    transform: translateY(30px);
    transition:
        opacity 0.8s ease,
        transform 0.8s cubic-bezier(.22,1,.36,1);
    will-change: transform, opacity;
}

#img-5 {
    transform: translateY(0px);
}

header img.loaded {
    --hover-var: 0px;
    --scroll-y: 0px;
    opacity: 1;
    transform: translateY(calc(var(--scroll-y) + var(--hover-var)));
}

main {
    position: relative;
    background-color: #080A2B;
    background-image: linear-gradient(to bottom, #080A2B, rgb(5, 11, 63));
    color: white;
    padding: 50px 20px;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#loading-overlay {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #474caa;
    background-image: url('../img/Backdrop\ -\ Nod-Krai.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: color-dodge;
    color: white;
    gap: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
    overflow: hidden;
}

#loading-overlay.fade-out {
  opacity: 0;
  pointer-events: none;
}

.progress-track {
    background-color: rgba(255, 255, 255, 0.308);
    height: 5px;
    width: 55%;
    border-radius: 5px;
    /* mix-blend-mode: hard-light; */
}

.progress-bar {
    transform: scaleX(0);
    transform-origin: left;
    background-color: white;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    transition: transform 0.2s ease;
}

/* 
    #### Modify This ####
    Each region configuration should be different.
    According to each layer of art in the header.
*/
#img-12 { top: 0; height: 100%; }
#img-11 { top: 0; width: 80%; mix-blend-mode: color-dodge; left: 10%; animation: blink 5s ease-in-out infinite; }
#img-10 { top: -40%; width: 60%; left: 20%; animation: dwindles 60s ease-in-out infinite; }
#img-9 { bottom: 0; animation: blink 5s ease-in-out infinite }
#img-8 { bottom: 0; }      
#img-7 { bottom: 0; margin-bottom: 13%; animation: blink 6s ease-in-out infinite; }
#img-6 { bottom: 0; }
#img-5 { top: 0; height: 100%; }
#img-4 { transform: scale(0.93); animation: spin 180s linear infinite; }
#img-3 { transform: scale(0.96); animation: spin 500s linear infinite; }
#img-2 { bottom: 0; }
#img-1 { bottom: 0; right: 0; width: 50%; animation: blink 8s ease-in-out infinite; }
#img-0 { bottom: -1px; }

/* Wobble on Hiisi Island */
/* #img-9 {
  filter: url(#lightWobbleSoft);

  mask-image: radial-gradient(
    120px 120px at 65% 30%,
    black 0%,
    black 35%,
    transparent 60%
  );

  will-change: filter;
} */


@media screen and (min-width: 760px) {
    header {
        height: 50dvh;
    }

    main {
        padding: 50px 50px;
    }
}

@media screen and (min-width: 1024px) {
    header {
        height: 100dvh;
    }

    main {
        padding: 50px 100px;
    }
}

@keyframes spin {
    from { rotate: 0deg; }
    to { rotate: 360deg; }
}

@keyframes fade-out {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

@keyframes hovering {
    0% { --hover-var: 0px }
    50% { --hover-var: 10px }
    100% { --hover-var: 0px }
}

@keyframes dwindles {
    0% { rotate: 0deg; }
    30% { rotate: -10deg; }
    60% { rotate: 10deg; }
    100% { rotate: 0deg; }
}

@keyframes sway {
    0% { transform: translateX(0); }
    50% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}

@keyframes blink {
    0% { filter: brightness(1); }
    50% { filter: brightness(0.8) saturate(0.8); }
    0% { filter: brightness(1); }
}