/* S Tier */
#frieren { background-image: url('../img/Sousou no Frieren.jpg'); }
#the-apothecary-diaries { background-image: url('../img/The Apothecary Diaries.jpg'); }
#tensei-shitara-slime-datta-ken { background-image: url('../img/Tensei shitara Slime Datta Ken.jpg'); }
#overlord { background-image: url('../img/Overlord.jpg'); }
#violet-evergarden { background-image: url('../img/Violet Evergarden.jpg'); }
#mahoutsukai-no-yome { background-image: url('../img/Mahoutsukai No Yome.jpg'); }
#kimetsu-no-yaiba { background-image: url('../img/Kimetsu no Yaiba.jpg'); }
#one-punch-man { background-image: url('../img/One Punch Man.jpg'); }
#classroom-of-the-elite { background-image: url('../img/Classroom of The Elite.jpg'); }
#shangri-la-frontier { background-image: url('../img/Shangri-La Frontier.jpg'); }
#bocchi-the-rock { background-image: url('../img/Bocchi The Rock.jpg');}
#jojo { background-image: url('../img/Jojo no Kimyou na Bouken.jpg');}
#spy-x-family { background-image: url('../img/SPYxFAMILY.jpg');}
#tenki-no-ko { background-image: url('../img/Tenki no Ko.jpg');}
#kimi-no-na-wa { background-image: url('../img/Kimi no Na wa.jpg');}
#horimiya { background-image: url('../img/Horimiya.jpg');}
#lycoris-recoil { background-image: url('../img/Lycoris Recoil.jpg');}
#gotoubun-no-hanayome { background-image: url('../img/Gotoubun no Hanayome.jpg');}
#wistoria { background-image: url('../img/Tsue to Tsurugi no Wistoria.jpg');}

/* A Tier */
#mashle { background-image: url('../img/Mashle.jpg');}
#eighty-six { background-image: url('../img/86.jpg');}
#i-parry-everything { background-image: url('../img/I Parry Everything.jpg');}
#leadale { background-image: url('../img/Leadale no Daichi nita.jpg');}
#tate-no-yuusha { background-image: url('../img/Tate no Yuusha no Nariagari.jpg');}

/* B Tier */
#maou-gakuin { background-image: url('../img/Maou Gakuin no Futekigousha.jpg');}